div.scene.clearfix#layout(fe-role="Switch")
  div.wrap
    div.tab.tab_movie(fe-role="Widget", data-ctg="movie")
      span 电影
    div.tab.tab_tv(fe-role="Widget", data-ctg="tv")
      span 电视剧
    div.tab.tab_zongyi(fe-role="Widget", data-ctg="zongyi")
      span 综艺
    div.tab.tab_comic(fe-role="Widget", data-ctg="comic")
      span 动漫
include ./common
